@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {

    .from-to-dropdowns {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {


    .from-to-dropdowns {
        width: 70%;
    }
}

@media screen and (max-width: 480px) {

    .from-to-dropdowns {
        width: 100%;
    }

    .from-to-dropdowns,.from-to-date{
        flex-direction: column;
    }

    .from-to-dropdowns .col-6,.from-to-date .col-6{
        width: 100%;
    }

    .trip-item-inner{
        flex-direction: column !important;
    }

   .bus-time-place{
       display: flex;
       margin: 0% 3%;
   }

    .bus-time-place .place {
        margin-left: 0.5%;

    }

    .gb-devider-center{
        margin-top: 4%;
        margin-bottom: 4%;
    }

    .btn-details{
        margin-top: 4%;
    }
}


@media screen and (max-width: 320px) {

    .bus-time-place{
        flex-direction: column;
    }

    .place {
        text-align: center;
    }
}
